<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "www.http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.micro.oauth.mapper">

    <select id="Authorization" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        SELECT  se.authorization_code FROM s_user su, s_user_role sur,s_element_role_authority sera, s_element se
        WHERE su.role_group_code = sur.user_role_association_code AND sur.role_id = sera.role_id AND sera.element_id =se.id AND su.username = 'admin'
    </select>

</mapper>